/* estilos.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #555;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

main {
    padding: 0 5px 0 5px;
}

#bienvenida {
    background-color: #ffd700;
}

.seccion {
    font-family: monospace;
    padding: 10px;
}

.rojo {
    background-color: red;
    color: white;
}

.verde {
    background-color: green;
    color: white;
}

.naranja {
    background-color: orange;
}

.azul {
    background-color: blue;
    color: white;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
